In [3]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [5]:
import yfinance as yf
tickerSymbol ='TSLA'

tickerData = yf.Ticker(tickerSymbol)
TSLA = tickerData.history(period='1d', start = '2010-5-31',end = '2020-5-31')

In [7]:
TSLA.head(10)

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0             0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0             0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0             0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0             0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0             0
2010-07-07  3.280  3.326  2.996  3.160  34608500          0             0
2010-07-08  3.228  3.504  3.114  3.492  38557000          0             0
2010-07-09  3.516  3.580  3.310  3.480  20253000          0             0
2010-07-12  3.590  3.614  3.400  3.410  11012500          0             0
2010-07-13  3.478  3.728  3.380  3.628  13400500          0             0

In [9]:
data_X = TSLA.loc[:,TSLA.columns != 'Close']
data_Y = TSLA['Close']
train_X, test_X, train_y,test_y = train_test_split(data_X,data_Y,test_size=0.25)
print('\n\Training Set')
print(train_X.head())
print(train_y.head())

\Training Set
                 Open       High        Low    Volume  Dividends  Stock Splits
Date
2015-10-14  44.133999  44.189999  43.085999  15522000          0             0
2014-03-26  44.389999  44.520000  42.270000  34536500          0             0
2014-08-11  51.096001  52.748001  51.000000  40506500          0             0
2011-03-07   4.986000   5.080000   4.940000  10168000          0             0
2014-12-29  45.380001  45.582001  44.804001  14012500          0             0
Date
2015-10-14    43.375999
2014-03-26    42.591999
2014-08-11    51.863998
2011-03-07     4.988000
2014-12-29    45.141998
Name: Close, dtype: float64

In [11]:
regressor = LinearRegression()
regressor.fit(train_X,train_y)

LinearRegression()

In [14]:
predict_y=regressor.predict(test_X)
print('Prediction Score:', regressor.score(test_X,test_y))

error = mean_squared_error(test_y,predict_y)
print('Mean Squared Error : ',error)

Prediction Score: 0.9996166280385754
Mean Squared Error :  0.333547742549293

In [ ]:
# Plot the predicted and the expected values
fig=plt.figure()
ax = plt.axes()
ax.grid()
ax.set(xlsbel = 'Close ($)',ylabel ='Open ($)',title = 'Teska Stock prediction using Linear Regression')
ax.plot(test_X['Opne'],)